@import "../../styles//variables.scss";

.item {
  padding: 10px;
  border: 2px solid rgba(0, 0, 0, 0.315);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.178);
  border-radius: 5px;
  min-width: 150px;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    border: 2px solid rgba(0, 0, 0, 0.415);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.378);
  }
  svg {
    margin-right: 5px;
    path {
      color: $purple-color;
    }
  }
  .item-name {
    line-height: 25px;
  }
  p {
    line-height: 25px;
    opacity: 0.8;
  }
  &.active {
    background-color: $purple-color;

    svg {
      path {
        color: #fff;
      }
    }
    .item-name {
      color: #fff;
    }
    p {
      color: #fff;
    }
  }
}
