@import "../../styles/variables.scss";

.register-page {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
  background-image: url(./images/background.png);
  background-size: cover;
  .register-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    text-align: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.281);
    .register-title {
      padding: 20px;
    }
    hr {
      opacity: 0.5;
    }
    .input-group {
      position: relative;
      display: flex;
      flex-direction: column;
      margin: 20px 0;
      label {
        text-align: start;
        font-weight: 600;
        opacity: 0.8;
        font-size: 15px;
        margin-bottom: 5px;
        margin-left: 3px;
      }
      input {
        padding-left: 10px;
        height: 40px;
        outline: none;
        border: solid 1px #888;
        border-radius: 4px;
      }
      .message {
        display: none;
        text-align: start;
        margin-left: 3px;
        margin-top: 5px;
        color: red;
        opacity: 0.9;
      }
      svg {
        opacity: 0;
        position: absolute;
        top: 40%;
        right: 15px;
        path {
          color: red;
        }
      }
      &.red {
        input {
          border-color: red;
        }
        svg {
          opacity: 1;
        }
        .message {
          display: inline-block;
        }
      }
    }
    .register-btn {
      margin: 10px 0;
      width: 100%;
      padding: 15px;
      background-color: $purple-color;
      border: none;
      font-weight: 600;
      font-size: 17px;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        filter: brightness(1.2);
      }
      svg {
        margin-right: 5px;
        path {
          color: #fff;
        }
      }
      span {
        color: #fff;
      }
    }
    .have-account {
      a {
        font-weight: 600;
        color: $purple-color;
      }
    }
    .login-message {
      display: none;
      font-weight: 600;
      color: red;
    }
  }
}
