@import "../../styles/variables.scss";
.home-page {
  padding-top: 50px;
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    background-color: $purple-dark-color;
    .left {
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1 {
        font-weight: 400;
        font-size: 30px;
        color: #fff;
        line-height: 40px;
      }
      h2 {
        font-weight: 400;
        font-size: 26px;
        line-height: 40px;
        color: #fff;
      }
      .buttons {
        margin-top: 10px;
        display: flex;
        gap: 10px;
        .button {
          padding: 10px 20px;
          background-color: $green-color;
          border: 2px solid $purple-color;
          color: #fff;
          font-weight: 600;
          border-radius: 20px;
          transition: 0.3s;
          &:hover {
            border: 2px solid rgba(255, 255, 255, 0.486);
          }
        }
      }
    }
    .right {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 50%;
      img {
        border-radius: 10px;
        object-fit: cover;
        width: 60%;
        height: 80%;
      }
    }
  }
  .not-complete {
    color: red;
  }
}
