@import "../../styles/variables.scss";

.header {
  position: fixed;
  background-color: $purple-color;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 4;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.281);
  .left {
    a {
      margin-left: 40px;
      font-size: 20px;
      font-weight: 600;
      color: #fff;
    }
  }
  .right {
    display: flex;
    gap: 10px;
    ul {
      display: flex;
      li {
        a {
          border-radius: 20px;
          padding: 10px 20px;
          display: flex;
          align-items: center;
          transition: 0.2s;
          &:hover {
            background-color: $purple-dark-color;
          }
          svg {
            margin-right: 5px;
            path {
              color: #fff;
            }
          }
          span {
            color: #fff;
          }
        }
      }
    }
    .user-image {
      position: relative;
      width: 35px;
      height: 35px;
      background-color: $white-color;
      overflow: hidden;
      border: 1px solid rgba(255, 255, 255, 0.705);
      border-radius: 50%;
      cursor: pointer;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .edit {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s;
        svg {
          opacity: 0;
          transition: 0.2s;
          path {
            color: #fff;
          }
        }
      }
      &:hover {
        .edit {
          background-color: rgba(0, 0, 0, 0.548);
          svg {
            opacity: 1;
          }
        }
      }
    }
  }
}
