@import "../../styles/variables.scss";

.header {
  position: fixed;
  background-color: $purple-color;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  box-sizing: border-box;
  z-index: 4;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.281);
  .left {
    a {
      font-size: 20px;
      font-weight: 600;
      color: #fff;
    }
  }
  .right {
    ul {
      display: flex;
      li {
        a {
          border-radius: 7px;
          padding: 10px 15px;
          display: flex;
          align-items: center;
          &:hover {
            background-color: rgba(255, 255, 255, 0.192);
          }
          svg {
            margin-right: 5px;
            path {
              color: #fff;
            }
          }
          span {
            color: #fff;
          }
        }
      }
    }
  }
}
