@import "../../styles/variables.scss";

.user-image-page {
  height: calc(100vh - 50px);
  padding-top: 50px;
  background-color: $purple-dark-color;
  display: flex;
  justify-content: center;
  align-items: center;
  .images-container {
    width: 500px;
    background-color: $purple-color;
    padding: 20px;
    border-radius: 10px;
    .images {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      justify-content: center;
      .image {
        width: 80px;
        aspect-ratio: 1/1;
        border: 4px solid $purple-color;
        border-radius: 50%;
        background-color: #fff;
        overflow: hidden;
        cursor: pointer;
        transition: 0.2s;
        &:hover {
          filter: brightness(0.7);
        }
        img {
          width: 100%;
          height: 100%;
        }
        &.active {
          border-color: rgb(0, 209, 0);
        }
      }
    }
    .buttons {
      margin-top: 30px;
      width: 100%;
      display: flex;
      gap: 10px;
      button {
        width: 50%;
        height: 40px;
        border-radius: 10px;
        background-color: $purple-dark-color;
        border: 2px solid rgba(255, 255, 255, 0.37);
        color: $purple-light-color;
        font-weight: 600;
        letter-spacing: 1px;
        transition: 0.2s;
        cursor: pointer;
        &:hover {
          filter: brightness(1.2);
        }
      }
    }
  }
}
