* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #000;
  list-style: none;
}
body {
  width: 100vw;
  #root {
    width: 100%;
    .App {
      width: 100%;
    }
  }
}
